#xcode specific
build/*
*.pbxuser
*.mode2v3
*.mode1v3
*.perspective
*.perspectivev3
*~.nib

#ignore private workspace stuff added by Xcode4
xcuserdata
project.xcworkspace

## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# cocos studio
*.udf

# proj.android
bin/
TheCompany/NewGame+/proj.android/assets/
TheCompany/NewGame+/proj.android/bin/
TheCompany/NewGame+/proj.android/gen/
TheCompany/NewGame+/proj.android/libs/
TheCompany/NewGame+/proj.android/local.properties
TheCompany/NewGame+/proj.android/obj/
TheCompany/NewGame+/cocos2d/cocos/platform/android/java/bin/
TheCompany/NewGame+/cocos2d/cocos/platform/android/java/gen/
TheCompany/NewGame+/cocos2d/cocos/platform/android/java/local.properties
TheCompany/NewGame+/cocos2d/cocos/platform/android/java/res/
.metadata/
.recommenders/

# proj.android-studio
.idea/
*.iml
TheCompany/NewGame+/proj.android-studio/app/assets/
TheCompany/NewGame+/proj.android-studio/app/obj/
TheCompany/NewGame+/proj.android-studio/app/libs/armeabi/
TheCompany/NewGame+/proj.android-studio/app/libs/armeabi-v7a/
TheCompany/NewGame+/proj.android-studio/app/libs/x86/
TheCompany/NewGame+/proj.android-studio/app/gradle.properties
TheCompany/NewGame+/proj.android-studio/app/local.properties
TheCompany/NewGame+/proj.android-studio/*/build/
TheCompany/NewGame+/cocos2d/cocos/platform/android/libcocos2dx/build/
TheCompany/NewGame+/cocos2d/cocos/platform/android/java/libs/gps/build/

# proj.ios_mac
TheCompany/NewGame+/cocos2d/build/build/
TheCompany/NewGame+/cocos2d/build/cocos2d_libs.xcodeproj/xcuserdata/
TheCompany/NewGame+/proj.ios_mac/build/
TheCompany/NewGame+/proj.ios_mac/*.xcodeproj/project.xcworkspace
TheCompany/NewGame+/proj.ios_mac/*.xcodeproj/xcuserdata/
!*.pch

# proj.win32
*.suo
.vs/
.vscode/
TheCompany/NewGame+/cocos2d/cocos/2d/Debug.*/
TheCompany/NewGame+/cocos2d/cocos/editor-support/spine/proj.win32/Debug.*/
TheCompany/NewGame+/cocos2d/external/Box2D/proj.win32/Debug.*/
TheCompany/NewGame+/cocos2d/external/recast/proj.win32/Debug.*/
TheCompany/NewGame+/cocos2d/cocos/2d/Release.*/
TheCompany/NewGame+/cocos2d/cocos/editor-support/spine/proj.win32/Release.*/
TheCompany/NewGame+/cocos2d/external/Box2D/proj.win32/Release.*/
TheCompany/NewGame+/cocos2d/external/recast/proj.win32/Release.*/
TheCompany/NewGame+/proj.win32/*.sdf
TheCompany/NewGame+/proj.win32/*.opensdf
TheCompany/NewGame+/proj.win32/Debug.*/
TheCompany/NewGame+/proj.win32/Release.*/