<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
		<key>plane_left</key>
		<dict>
			<key>delayPerUnit</key>
			<real>0.2</real>
			<key>frames</key>
			<dict>
				<key>Plane_Left_01.png</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>spriteOffset</key>
					<string>{0,0}</string>
					<key>spriteSize</key>
					<string>{64,64}</string>
					<key>spriteSourceSize</key>
					<string>{64,64}</string>
					<key>textureRect</key>
					<string>{{0,0},{64,64}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<key>Plane_Left_02.png</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>spriteOffset</key>
					<string>{0,0}</string>
					<key>spriteSize</key>
					<string>{64,64}</string>
					<key>spriteSourceSize</key>
					<string>{64,64}</string>
					<key>textureRect</key>
					<string>{{64,0},{64,64}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<key>Plane_Left_03.png</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>spriteOffset</key>
					<string>{0,0}</string>
					<key>spriteSize</key>
					<string>{64,64}</string>
					<key>spriteSourceSize</key>
					<string>{64,64}</string>
					<key>textureRect</key>
					<string>{{128,0},{64,64}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<key>Plane_Left_04.png</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>spriteOffset</key>
					<string>{0,0}</string>
					<key>spriteSize</key>
					<string>{64,64}</string>
					<key>spriteSourceSize</key>
					<string>{64,64}</string>
					<key>textureRect</key>
					<string>{{192,0},{64,64}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
			</dict>
		</dict>
        
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>plane_left_spritesheet.png</string>
            <key>size</key>
            <string>{256,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7bbece82bb58d673f76c12a4fe1bb6f3:9538e064c305ae84ddd7e5a45ed5bf45:a7d5ee8be0bd24620ebf2f36983e6339$</string>
            <key>textureFileName</key>
            <string>plane_left_spritesheet.png</string>
        </dict>
    </dict>
</plist>
