<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
	<key>plane_right</key>
		<dict>
			<key>delayPerUnit</key>
			<real>0.2</real>
			<key>frames</key>
			<dict>
				<key>Plane_Right_01.png</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>spriteOffset</key>
					<string>{0,0}</string>
					<key>spriteSize</key>
					<string>{64,64}</string>
					<key>spriteSourceSize</key>
					<string>{64,64}</string>
					<key>textureRect</key>
					<string>{{0,0},{64,64}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<key>Plane_Right_02.png</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>spriteOffset</key>
					<string>{0,0}</string>
					<key>spriteSize</key>
					<string>{64,64}</string>
					<key>spriteSourceSize</key>
					<string>{64,64}</string>
					<key>textureRect</key>
					<string>{{64,0},{64,64}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<key>Plane_Right_03.png</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>spriteOffset</key>
					<string>{0,0}</string>
					<key>spriteSize</key>
					<string>{64,64}</string>
					<key>spriteSourceSize</key>
					<string>{64,64}</string>
					<key>textureRect</key>
					<string>{{128,0},{64,64}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<key>Plane_Right_04.png</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>spriteOffset</key>
					<string>{0,0}</string>
					<key>spriteSize</key>
					<string>{64,64}</string>
					<key>spriteSourceSize</key>
					<string>{64,64}</string>
					<key>textureRect</key>
					<string>{{192,0},{64,64}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
			</dict>
		</dict>
        
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>plane_right_spritesheet.png</string>
            <key>size</key>
            <string>{256,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:770567e69fa9fd59f9803044f3c12d35:e6b47f577b85069e2d65d597fa4a9eeb:92ba5266ac31137cbb95286d234c88ce$</string>
            <key>textureFileName</key>
            <string>plane_right_spritesheet.png</string>
        </dict>
    </dict>
</plist>
